html,body,h1,h2,h3,h4,h5,h6,article,section,header,nav,figure,figcaption,div,span,p,ul,ol,li{padding:0;margin:0;}
body{font-size:1em;font-family:helvetica,sans-serif;color:#222;background-color:#fff;margin:0 auto;max-width:40em;outline:1px dotted green;}
